/* latin-ext */

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url('./assets/oxygen-latin-ext.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url('./assets/oxygen-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
    margin: 0;
    margin-bottom: 20px;
    background-color: #EADBC4;
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background: #453D3F;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3);
}

main {
    margin: 0 5%;
}

.boxed {
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
    background: #ded0ba;
    padding: .2em;
    font-weight: 400;
}

.split {
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .split {
    flex-wrap: wrap;
  }
}


.split div {
  flex: 1;
  text-align: center;
}

/* TOOLTIP */
.has-tooltip {
    position: relative;
  }
  .has-tooltip .tooltip {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
    -moz-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
    -o-transition: visibility 0s ease 0.5s,opacity .3s ease-in;
    transition: visibility 0s ease 0.5s,opacity .3s ease-in;
  }
  .has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  /* Tooltip Body */
  .tooltip {
    background-color: #222;
    bottom: 130%;
    color: #fff;
    font-size: 12px;
    left: 50%;
    margin-left: -56px;
    padding: 6px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: 200px;
    z-index: 4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  
  /* Tooltip Caret */
  .tooltip:after {
    border-top: 5px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -5px;
    content: " ";
    font-size: 0px;
    left: 50%;
    line-height: 0%;
    margin-left: -4px;
    position: absolute;
    width: 0px;
    z-index: 1;
  }